{% extends 'layout.html.twig' %}

{% block title %}Connexion Utilisateur{% endblock %}

{% block content %}

    <div class="login-container">

        <div class="login-card">
            <h2 class="login-title">{{ block('title') }}</h2>

            {% if error %}
                <div class="login-error">
                    <strong>Erreur de connexion</strong> {{ error }}
                </div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post" class="login-form">
                <input type="text" name="_username" value="{{ last_username }}" placeholder="Entrez votre identifiant" required autofocus>
                <input type="password" name="_password" placeholder="Entrez votre mot de passe" required>

                <button type="submit" class="login-btn">Connexion</button>
            </form>
        </div>

    </div>

{% endblock %}
