body { 
    padding-top: 100px;
    background-color: #e0e5e6;
}

#logo{
	width:230px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 76px;
	font-size: 0;
	background: url("../images/logo.png") no-repeat center center;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

#admintitle {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: #333;
    font-weight: 600;
}

.adminTable {
    background-color: white;
    padding: 40px;
    margin: 0;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.first-link {
    border-radius: 20px 0 0 0 !important;
    box-shadow: rgba(0, 0, 0.1, 0.1) 0 -8px 15px !important;
}

.second-link {
    border-radius: 0 20px 0 0 !important;
    box-shadow: rgba(0, 0, 0.1, 0.1) 0 -8px 15px !important;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

/****************************************************************************************
   CSS RAJOUTÉ POUR L'EXERCICE - SEMAINE 3 - UEL313
 ***************************************************************************************/

/****************************************************************************************
    CSS PAGE INDEX.HTML.TWIG
 ***************************************************************************************/

.linkTitle-index {
    font-size: 2.2rem;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    color: #444447;
}

.linkTag {
    background-color: #d4d4d4;
    color: #494949;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background 0.3s
    ease, color 0.3s
    ease;
}

.linkTag:hover {
    transform: scale(1.05);
    text-decoration: none !important;
    background: #333333;
    color: #fff;
}

a:hover {
    text-decoration: none !important;
}


.card {
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
    border-radius: 2rem;
    display: grid;
    gap: 1rem;
    grid-template:
        "title title"
        "bar bar"
        "content content"/ 1fr auto;
    font-family: system-ui, sans-serif;
    color: #444447;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 3rem;
    transition: transform 0.2s, background-color 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.5rem;
    grid-area: title;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    word-break: break-all;
    margin: 0 !important;
    color: #444447;
    /*border-bottom: 1px solid #b8adad;*/
    /*padding-bottom: 8px;*/
}

.card .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card p {
    color: #555;
    min-height: 42px;
}

.card .bar {
    grid-area: bar;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.card a:hover {
    text-decoration: underline;
}

.card em {
    font-size: 1.2rem;
    color: #777;
    text-decoration: none;
    font-style: normal;
    margin-top: 5px;
}

#content {
    padding-top: 3rem;
}

.btn-encadrer {
    text-align: center;
    padding: 10px 20px;
    background: #333333;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-1 {
    margin-top: auto;
    padding: 10px 20px;
    background: #333333;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-encadrer:hover,
.btn-1:hover {
    background: #111111;
    color: #fff !important;
}

#person-emoji {
    height: 13px;
    width: 9px;
    opacity: 0.7;
}

/****************************************************************************************
    CSS PAGE LOGIN.HTML.TWIG
*****************************************************************************************/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67vh;
    padding: 20px;
}

.login-card {
    background: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 3rem 4rem 5rem 4rem;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #333;
    font-weight: 600;
}

.login-error {
    background: #ffdddd;
    color: #a40000;
    padding: 12px;
    margin-bottom: 20px;
    border-left: 4px solid #d00000;
    border-radius: 6px;
    font-size: 14px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s;
}

.login-form input:focus {
    border-color: #333333;
    box-shadow: 0 0 4px rgba(18, 16, 16, 0.5);
    outline: none;
}


.login-btn {
    padding: 12px;
    background: #333333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.login-btn:hover {
    background: #111111;
}

/****************************************************************************************
    CSS PAGE LAYOUT.HTML.TWIG => FOOTER
*****************************************************************************************/

.footer {
    text-align: center;
    padding: 30px 10px;
    background-color: #333333;
    color: white;
    border-top: 3px solid #ddd;
}

.cvtic {
    color: orange;
    font-weight: bold;
}
